{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% set ordered_networks = [] %}
{% for id, network in networks %}
  {% if network.getPluginDefinition.social_network == 'Google' %}
    {% set ordered_networks = ordered_networks|merge([network]) %}
  {% endif %}
{% endfor %}
{% for id, network in networks %}
  {% if network.getPluginDefinition.social_network == 'Facebook' %}
    {% set ordered_networks = ordered_networks|merge([network]) %}
  {% endif %}
{% endfor %}
{% for id, network in networks %}
  {% if network.getPluginDefinition.social_network != 'Google' and network.getPluginDefinition.social_network != 'Facebook' %}
    {% set ordered_networks = ordered_networks|merge([network]) %}
  {% endif %}
{% endfor %}

<div class="social-auth-buttons">
  {% for network in ordered_networks %}
    {% if destination %}
      {% set options = {'query': {'destination': destination}} %}
    {% else %}
      {% set options = {} %}
    {% endif %}
    <a class="{{ module }} auth-link" href="{{ network.getRedirectUrl(options).toString }}">
      <img class="{{ module }} auth-icon"
           src="{{ network.getProviderLogoPath }}"
           alt="{{ 'Authenticate through @social_network_name' | t({'@social_network_name': network.getPluginDefinition.social_network}) }}">
    </a>
  {% endfor %}
</div>
